@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono&display=swap');

body{
    font-family: 'Press Start 2P';
    background-color: black;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


button{
border-radius: 20px;
background-color: black;
color: white;

}

textarea, 
textarea:active, 
textarea:focus-visible {
    width: 500px;
    height: 300px;
    background-color: black;
    color: white;
    border: none;
    border-image-width: 0px;
    outline: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding: 20px;
}


footer img{
    height: 30px;
    display: flex;
    justify-content:center;
    
}

.logoalura {
    align-self: flex-start;
    width: 40px;
    height: 40px;
    margin: 30px;

}